/KnowledgeMediaImporter/bin/*
/KnowledgeMediaImporter/obj/*
/KnowledgeMedia.Core/obj/*
/KnowledgeMedia.Core/bin/*
/KnowledgeMediaImporter/.idea/*
/.vs
/.vs/KnowledgeMediaImporter/DesignTimeBuild/.dtbcache.v2
/.vs/KnowledgeMediaImporter/v17/.suo
/KnowledgeMediaImporter/appsettings.User.json
